
.table-icon {
  padding-left: 10px;
}

.center-icon {
  width: 33px;
  margin: auto;
}

.align-center {
    text-align: center;
}

.align-top {
    vertical-align: top;
}

.cloudlayer {
    display: flex;
    text-align: center;
}
